Repository AndreasLrx/LaFlammeDivain, pull requests merged in 2023-07, with the labels that each got.

#45 add attack for wisp and collision when hit a object
  Assets/Prefabs/Tiles/Wall.prefab
  Assets/Scripts/AttackWisp.cs
  ProjectSettings/TagManager.asset
Labels: wisps, enemies

#47 Add damage management for the player and wisp
  Assets/Prefabs/Player.prefab
  Assets/Scripts/Dummy.cs
  Assets/Scripts/GameManager.cs
  Assets/Scripts/Player.cs
Labels: wisps

#50 Add poison wisp
  Assets/Prefabs/GameManager.prefab
  Assets/Prefabs/Wisps/AttackWisp.prefab
  Assets/Prefabs/Wisps/PoisonWisp.prefab
  Assets/Prefabs/Wisps/PoisonWisp.prefab.meta
  Assets/Scripts/AttackWisp.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/PoisonWisp.cs
  Assets/Scripts/PoisonWisp.cs.meta
  Assets/Scripts/Wisp.cs
Labels: wisps

#52 Add trail for wisp
  Assets/Prefabs/Wisps/AttackWisp.prefab
  Assets/Prefabs/Wisps/PoisonWisp.prefab
  Assets/Scripts/PoisonWisp.cs
  Assets/Scripts/Wisp.cs
Labels: enhancement, wisps

#59 Implement wisp selection (previous/next)
  Assets/Scripts/BoardManager.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/WispsGroup.cs
Labels: enhancement, wisps

#58 Introduce SmoothlyChangeTrailParameter method for more natural trail behavior
  Assets/Scripts/AttackWisp.cs
  Assets/Scripts/PoisonWisp.cs
  Assets/Scripts/Wisp.cs
Labels: bug

#57 Introduce Pathfinding using NavMeshPlus package
  Assets/Prefabs/Enemies/Dummy.prefab
  Assets/Prefabs/GameManager.prefab
  Assets/Prefabs/Tiles/Floor.prefab
  Assets/Prefabs/Tiles/NavMesh.prefab
  Assets/Prefabs/Tiles/NavMesh.prefab.meta
  Assets/Prefabs/Tiles/Wall.prefab
  Assets/Scenes/GameScene.unity
  Assets/Scripts/BoardManager.cs
  Assets/Scripts/Dummy.cs
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/NavMeshAreas.asset
Labels: enhancement

#60 Add Enemy base class
  Assets/Prefabs/Enemies/Dummy.prefab
  Assets/Scripts/AttackWisp.cs
  Assets/Scripts/BoardManager.cs
  Assets/Scripts/Dummy.cs
  Assets/Scripts/Enemy.cs
  Assets/Scripts/Enemy.cs.meta
  Assets/Scripts/PoisonWisp.cs
  Assets/Scripts/Weapon.cs
Labels: wisps

#77 Introduce AI companion movement network
  .gitignore
  Assets/ML-Agents.meta
  Assets/ML-Agents/Timers.meta
  Assets/ML-Agents/Timers/GameScene_timers.json
  Assets/ML-Agents/Timers/GameScene_timers.json.meta
  Assets/Models/Movement.onnx
  Assets/Models/Movement.onnx.meta
  Assets/Prefabs/AICompanion.prefab
  Assets/Prefabs/AICompanion.prefab.meta
  Assets/Prefabs/GameManager.prefab
  Assets/Prefabs/Player.prefab
  Assets/Scripts/AICompanion.cs
  Assets/Scripts/AICompanion.cs.meta
  Assets/Scripts/Entities/Player/Player.cs
  Assets/Scripts/Generation/Room.cs
  Assets/Scripts/Generation/RoomGenerator.cs
  Assets/Scripts/PrefabManager.cs
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/ProjectSettings.asset
  ai-training/Training.md
  ai-training/requirements.txt
Labels: AI

#79 Introduce AsyncEventProcessor to simplify events through delegates
  Assets/Scripts/AsyncEventProcessor.cs
  Assets/Scripts/AsyncEventProcessor.cs.meta
  Assets/Scripts/Entities/Enemies/Dummy.cs
  Assets/Scripts/Entities/Enemies/EliteEnemy.cs
  Assets/Scripts/Entities/Enemies/Enemy.cs
  Assets/Scripts/Entities/Enemies/FireEliteEnemy.cs
  Assets/Scripts/Entities/Player/Player.cs
  Assets/Scripts/Entities/Wisps/AttackWisp.cs
  Assets/Scripts/Entities/Wisps/PoisonWisp.cs
  Assets/Scripts/Entities/Wisps/Wisp.cs
Labels: enhancement

#81 Introduce new PlayerController script
  .gitignore
  Assets/ML-Agents/Timers/GameScene_timers.json
  Assets/Prefabs/AICompanion.prefab
  Assets/Prefabs/GameManager.prefab
  Assets/Prefabs/Player.prefab
  Assets/Scripts/Entities/AICompanion.cs
  Assets/Scripts/Entities/Enemies/Dummy.cs
  Assets/Scripts/Entities/Enemies/EliteEnemy.cs
  Assets/Scripts/Entities/Player/Player.cs
  Assets/Scripts/Entities/Player/PlayerController.cs
  Assets/Scripts/Entities/Player/PlayerController.cs.meta
  Assets/Scripts/Entities/Player/Weapon.cs
  Assets/Scripts/Entities/Wisps/AttackWisp.cs
  Assets/Scripts/Entities/Wisps/PoisonWisp.cs
  Assets/Scripts/Entities/Wisps/Wisp.cs
  Assets/Scripts/Entities/Wisps/WispsGroup.cs
  Assets/Scripts/GameManager.cs
  Assets/Scripts/Generation/RoomGenerator.cs
  Assets/Scripts/PrefabManager.cs
Labels: enhancement, AI, player

#83 Add a bomb wisp
  Assets/Prefabs/Wisps/BombWisp.prefab
  Assets/Prefabs/Wisps/BombWisp.prefab.meta
  Assets/Scripts/Entities/Wisps/BombWisp.cs
  Assets/Scripts/Entities/Wisps/BombWisp.cs.meta
  Assets/Scripts/Entities/Wisps/Wisp.cs
Labels: wisps

#84 Add defense wisp
  Assets/Prefabs/Wisps/DefenseWisp.prefab
  Assets/Prefabs/Wisps/DefenseWisp.prefab.meta
  Assets/Scripts/Entities/Player/Player.cs
  Assets/Scripts/Entities/Wisps/DefenseWisp.cs
  Assets/Scripts/Entities/Wisps/DefenseWisp.cs.meta
Labels: wisps

#85 Add Main Menu
  .gitignore
  Assets/Prefabs/2D Render Pipeline.asset
  Assets/Scenes/Menu.unity
  Assets/Scenes/Menu.unity.meta
  Assets/Scenes/SampleScene.unity
  Assets/Scripts/MainMenu.cs
  Assets/Scripts/MainMenu.cs.meta
  Assets/Scripts/OptionMenu.cs
  Assets/Scripts/OptionMenu.cs.meta
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/InputManager.asset
Labels: menu

#88 Fix enemy not loading when loading gamescene from menu
  Assets/Scripts/GameManager.cs
  Assets/Scripts/Generation/Room.cs
  Assets/Scripts/MainMenu.cs
Labels: bug

#93 Add Pause menu
  Assets/Scenes/GameScene.unity
  Assets/Scenes/Menu.unity
  Assets/Scripts/Entities/Enemies/FireElite.cs
  Assets/Scripts/Entities/Player/PlayerController.cs
  Assets/Scripts/Entities/Wisps/PoisonWisp.cs
  Assets/Scripts/GameManager.cs
  Assets/Scripts/PauseMenu.cs
  Assets/Scripts/PauseMenu.cs.meta
  Assets/Scripts/Singleton.cs
Labels: menu

#102 Add speed elite enemy
  Assets/Scripts/Entities/Enemies/SpeedElite.cs
  Assets/Scripts/Entities/Enemies/SpeedElite.cs.meta
  Assets/Scripts/PrefabManager.cs
Labels: enemies

#103 Add regen elite enemy
  Assets/Scripts/Entities/Enemies/RegenElite.cs
  Assets/Scripts/Entities/Enemies/RegenElite.cs.meta
  Assets/Scripts/PrefabManager.cs
Labels: enemies
