Repository AndreasLrx/LaFlammeDivain, pull requests merged in 2023-06, with the labels that each got.

#11 Add script for movable player
  Assets/Prefabs/Player.prefab
  Assets/Prefabs/Player.prefab.meta
  Assets/Scripts/Player.cs
  Assets/Scripts/Player.cs.meta
  Assets/Sprites/WhiteSquare.png
  Assets/Sprites/WhiteSquare.png.meta
Labels: enhancement, player

#25 Create Dummy with script to take damage
  Assets/Prefabs/Enemies/Dummy.prefab
  Assets/Prefabs/Enemies/Dummy.prefab.meta
  Assets/Scripts/Dummy.cs
  Assets/Scripts/Dummy.cs.meta
Labels: enhancement, enemies

#26 Update the contributing.md and comment out the WebGl build
  .github/workflows/unity-build.yml
  CONTRIBUTING.md
Labels: documentation, enhancement

#29 Add camera following the player
  Assets/Prefabs/GameManager.prefab
  Assets/Scenes/GameScene.unity
  Assets/Scripts/BoardManager.cs
  Packages/manifest.json
  Packages/packages-lock.json
Labels: map, player

#30 Add com.unity.ide.vscode package for completion on VsCode IDE
  .gitignore
  Packages/manifest.json
  Packages/packages-lock.json
Labels: enhancement

#39 Fix player attack triggered even with wisps availables
  Assets/Prefabs/GameManager.prefab
  Assets/Prefabs/Player.prefab
  Assets/Scripts/Player.cs
  Assets/Scripts/PlayerAttack.cs
  Assets/Scripts/PlayerAttack.cs.meta
  Assets/Scripts/Weapon.cs
Labels: bug, player

#40 Make wisps placement around the player more natural
  Assets/Scripts/AttackWisp.cs
  Assets/Scripts/BoardManager.cs
  Assets/Scripts/MovingObject.cs
  Assets/Scripts/MovingObject.cs.meta
  Assets/Scripts/Wisp.cs
  Assets/Scripts/WispsGroup.cs
Labels: enhancement, wisps

#42 Introduce light
  Assets/Prefabs/2D Render Pipeline.asset
  Assets/Prefabs/2D Render Pipeline.asset.meta
  Assets/Prefabs/2D Renderer.asset
  Assets/Prefabs/2D Renderer.asset.meta
  Assets/Prefabs/Enemies/Dummy.prefab
  Assets/Prefabs/Player.prefab
  Assets/Prefabs/Tiles/Floor.prefab
  Assets/Prefabs/Tiles/Wall.prefab
  Assets/Prefabs/Wisps/AttackWisp.prefab
  Assets/Scenes/GameScene.meta
  Assets/Scenes/GameScene.unity
  Assets/Scripts/Wisp.cs
  Assets/UniversalRenderPipelineGlobalSettings.asset
  Assets/UniversalRenderPipelineGlobalSettings.asset.meta
  Packages/manifest.json
  Packages/packages-lock.json
  ProjectSettings/EditorSettings.asset
  ProjectSettings/GraphicsSettings.asset
  ProjectSettings/ShaderGraphSettings.asset
  ProjectSettings/URPProjectSettings.asset
Labels: enhancement

#44 Separate selected wisp from the wisp group orbit
  Assets/Prefabs/Wisps/WispsGroup.prefab
  Assets/Scenes/GameScene.unity
  Assets/Scripts/BoardManager.cs
  Assets/Scripts/Player.cs
  Assets/Scripts/Wisp.cs
  Assets/Scripts/WispsGroup.cs
Labels: enhancement, wisps
